[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
mlflow = "*"
scikit-learn = "*"
prefect = "*"
pandas = "*"
pyarrow = "*"
s3fs = "*"
deepdiff = "*"

[dev-packages]
deepdiff = "*"
pylint = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.0"
